/*Ain't no fronties up in here*/

#header {
  text-align: center;
}

/*CHROME*/
body {
  background-color: #03151F;
}

#speaker-box {
  border: 2px solid;
  border-color: #0195BD;
  max-width: 600px;
  height: 150px;
  margin: auto;
  margin-bottom: 20px;
}

#sprite-erik {
  display:none;
  overflow: hidden;
  margin: auto;
}

#erik-head {
  position: relative;

}


