/*Ain't no fronties up in here*/

#header {
  text-align: center;
}

/*CHROME*/
body {
  background-color: #03151F;
}

p.hidden {
  display: none;
}

nav {
  display: block;
}

ul.nav-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

#speaker-box {
  border: 2px solid;
  color: #001949;
  border-color: #D33F31;
  border-radius: 25px;
  background-color: rgba(234, 234, 234, 0.8);
  opacity: 0.2;
  max-width: 580px;
  min-height: 3em;
  margin: auto;
  margin-bottom: 20px;
  padding: 50px 30px;
}

#sprite-erik {
  visibility:hidden;
  overflow: hidden;
  margin: auto;
}

#erik-head {
  position: relative;
  max-width: none;

}

/*TABLET OR LESS*/
@media (max-width: 767px) {
  span.line-break-mobile {
    display: block;
    margin-top: 5px;
  }
}

/*MOBILE*/
@media (max-width: 450px) {
  h2.intro {
    display: none;
  }

  #speaker-box {
    padding: 15px;
  }
}

/*BIGGER THAN MOBILE*/
@media (min-width: 450px) {
  
}


