/*Ain't no fronties up in here*/

#header {
  text-align: center;
}

/*CHROME*/
body {
  background-color: #03151F;
}

#speaker-box {
  border: 2px solid;
  color: #06C5CF;
  border-color: #D33F31;
  opacity: 0.5;
  max-width: 600px;
  min-height: 150px;
  margin: auto;
  margin-bottom: 20px;
  padding: 15px;
}

#sprite-erik {
  display:none;
  overflow: hidden;
  margin: auto;
}

#erik-head {
  position: relative;

}

@media (max-width: 767px) {
  span.line-break-mobile {
    display: block;
    margin-top: 5px;
  }
}



