/*http://www.cssnewbie.com/css-art-the-flower/#.V1IwnJN95E4*/
background {
  color: #00336A;
}

background1 {
  color: #03151F;
}

background-highlight {
  color: #0051F8;
}

background-highlight1 {
  color: #31D78D;
}

skin {
  color: #A6EBD6;
}

skin2 {
  color: #0195BD;
}

cloths {
  color: #001949;
}

cloths-2 {
  color: #06C5CF;
}

flower1 {
  color: #FFAD01;
}
flower1-hl{
  color: #D33F31;
}
flower1-hl-1 {
  color: #601C31
}

flower2 {
  color: #F8715B;
}

flower2-hl {
  color: #591440;
}

flower3 {
  color: #F63145;
}
flower3-hl {
  color: #621A2E;
}
plant {
  color: #032C30;
}
plant-hl {
  color: #00BA31;
}
