---
layout: home
title: Erik Froese
permalink: /
---
{% include header.html %}
<body>
    <div id="container">
      <div id="header">
        <h1>Erik Froese</h1>
        <h2 class="intro" ><span> Developer. Writer. </span><span class="line-break-mobile">Melbourne, Australia </span> </h2>
        <p class="hidden">Technologies I love to develop with: Ruby on Rails, Ember, JavaScript, Elixir. I am also an award-winning, long-form non-fiction writer. Check out my <a href="https://au.linkedin.com/in/erik-froese-82987833">LinkedIn profile</a> for more about my work history.</p>
      </div>
      
      <div id="speaker-box">
        
      </div>
      <div id="sprite-erik">
        <img id="erik-head" src="public/head-sprite.png" alt="Erik's head">
      </div>
    </div>
  </body>
</html>
